.tooltip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tooltip-text {
  position: absolute;
  width: max-content;
  top: 55px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  padding: 0.3rem;
  border-radius: 5px;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
