@use "../../styles/abstracts/theme" as t;

.register__container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.register {
  background-color: t.$light-secondary-bgcolor;
  width: 1000px;
  border-radius: 10px;
  box-shadow: t.$light-box-shadow;
}

.header {
  padding: 2rem;
  border-bottom: 1px solid t.$light-secondary-color;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
