@use "../../styles/abstracts/theme" as t;

.resume {
  height: 2480px;
  display: grid;
  justify-content: center;
  grid-template-columns: 484px 1131px;
  border: 1px solid black;
}

.left-side {
  background-color: t.$light-primary-color;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  gap: 10rem;
}

.left-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-image__container {
  display: flex;
  justify-content: center;
}

.user-image {
  border-radius: 30px;
  margin-bottom: 2rem;
}

.btn-area {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.edit-btn {
  border-radius: 50%;
  background-color: white;
  padding: 1rem;
  width: 30px;
  height: 30px;
  animation: popup 0.5s;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}

.label {
  white-space: nowrap;
}

.user-date {
  display: flex;
}

.right-side {
  background: t.$light-secondary-bgcolor;
  padding: 1rem;
}

.right-header {
  display: flex;
  flex-direction: column;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 20px;
  white-space: nowrap;
}

.title {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & > div {
    width: fit-content;
  }

  & * {
    background-color: white;
    padding: 0 5px;
    font-weight: 800;
    font-size: 3.5rem;
    white-space: nowrap;
  }
}

.title-line {
  flex-grow: 1;
  border-bottom: 5px solid #000;
  border-top: 5px solid black;
  height: 0;
}

.delete-btn__container {
  display: flex;
  justify-content: flex-end;
}

.delete-btn {
  background: t.$light-primary-color;
  border-radius: 50%;
  padding: 0.5rem;
  width: 15px;
  height: 15px;
  color: t.$light-secondary-bgcolor;
  &:hover {
    cursor: pointer;
  }
}

@keyframes popup {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}
