@use "../../styles/abstracts/theme" as t;

.card__container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 1200px;
  background: t.$light-secondary-bgcolor;
  border-radius: 30px;
  border-top-left-radius: 45% 65%;
  gap: 30px;
  box-shadow: t.$light-box-shadow;
  transition: transform 0.3s;
}

.edge {
  margin-top: 6rem;
  background-color: t.$light-primary-color;
  border-radius: 30px;
}

.flip.card__container {
  transform: rotateY(180deg);
  perspective: 1000px;
}

.front-card {
  display: flex;
  padding: 2rem;
  height: 1500px;

  & .flip-icon {
    color: t.$light-secondary-bgcolor;
  }
}

.back-card {
  position: absolute;
  transform: rotateY(180deg);
  display: flex;
  padding: 2rem;
  width: 100%;
  height: 1500px;

  & .flip-icon {
    color: t.$dark-primary-color;
  }
}

.flip__container {
  position: absolute;
  top: 0;
  left: 2px;
  z-index: 1;
}

.flip-icon {
  transform: rotateY(180deg);
  &:hover {
    cursor: pointer;
  }
}

.card-secondary {
  padding-top: 2rem;
  border-top: 3px solid t.$light-secondary-color;
  display: flex;
  justify-content: space-around;
}

.image__container {
  width: 400px;
  position: relative;
}

.edit-image__container {
  position: absolute;
  right: 10px;
  bottom: 100px;
  z-index: 1;
}

.edit-image {
  background: t.$light-secondary-color;
  border-radius: 50%;
  padding: 1rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    filter: brightness(80%);
  }

  [id="upload-photo"] {
    display: none;
  }
}

.card-image {
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.card-header {
  border-bottom: 3px solid t.$light-secondary-color;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.card-heading {
  font-size: 5rem;
  font-weight: 800;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-icon {
  color: t.$light-primary-color;
  &:hover {
    cursor: pointer;
  }
}

.edit-icon {
  width: 30px;
  height: 30px;
  color: t.$light-secondary-bgcolor;
  border-radius: 50%;
  background-color: t.$light-primary-color;
  padding: 1rem;
  &:hover {
    cursor: pointer;
  }
}

.card-sub-heading {
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.5;
}

.card-body {
  display: grid;
  margin: 1rem;
  gap: 2rem;
}

.card-icon {
  margin-right: 1rem;
}

.card-data {
  font-weight: 800;
  opacity: 0.5;
}

.secondary-title {
  font-weight: 800;
  color: t.$light-secondary-bgcolor;
  padding-top: 2rem;
  text-align: center;
}

.card-footer {
  background-color: t.$light-primary-color;
  border-radius: 0 0 30px 30px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-item {
  color: white;
}
