.user-list-container {
  display: flex;
  gap: 10px;
}

.user-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  margin: 2rem;
}

.header {
  background-color: aqua;
  border-radius: 10px 10px 0px 0;
}

.name {
  color: white;
  margin: 1rem;
}

.footer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 1rem;
}
