@use "../../styles/abstracts/theme" as t;

.editable-text__container {
  width: 100%;
  height: inherit;

  .editable {
    outline: 0;
    color: black;
    background-color: t.$light-secondary-bgcolor;
    border: 3px solid black;
    border-radius: 10px;
  }

  span {
    display: flex;
    align-items: center;
    height: inherit;
  }

  span.editable {
    width: 100%;
    min-width: 100px;
  }

  input.editable {
    width: 100%;
  }

  textarea.editable {
    resize: none;
    width: 100%;
  }

  select.editable {
    cursor: pointer;
  }

  .uneditable {
    white-space: pre-wrap;
    height: inherit;
  }

  .title {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.placeholder {
  & > [data-placeholder]:empty::before {
    color: lightgray;
    content: attr(data-placeholder);
  }
}
