@use "../../styles/abstracts/theme" as t;

.editable-text__container {
  & > * {
    width: 100%;
    outline: 0;
  }

  & > .editable {
    color: black;
    background-color: color;
    border: 3px solid black;
    border-radius: 10px;
  }
}
