@use "../../styles/abstracts/theme" as t;

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 3rem;
  overflow-y: scroll;
  padding: 2rem;
}

.introduction {
  min-width: 1160px;
  display: flex;
  flex-direction: column;
  height: 101vh;
  overflow: hidden;
  padding: 50px;

  p {
    align-self: flex-end;
  }
}

.image__container {
  align-self: center;

  & img {
    object-fit: cover;
    border-radius: 50%;
  }
}

.name {
  font-size: 10rem;
  line-height: 8rem;
}

.projects__container {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  margin-top: 2rem;
  border: 1px solid t.$light-secondary-color;
  border-radius: 20px;
}

$projects-color: (
  "1": #1864ab,
  "2": #02690b,
  "3": black,
  "4": #c92a2a,
);

@each $id, $value in $projects-color {
  .projects__#{$id} {
    background-color: $value;
    margin: 1rem;
    border-radius: 20px;
    padding: 2rem;
    text-align: center;

    &:hover {
      filter: brightness(80%);
      cursor: pointer;
    }
  }

  .project__header-#{$id} {
    display: flex;
    justify-content: space-between;
    background-color: $value;
    padding: 1rem;
    border-radius: 20px 20px 0 0;
  }
}

.project__container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.project {
  color: black;
  background: t.$light-secondary-bgcolor;
  border-radius: 20px;
  margin: 2rem;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.project__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  height: 100%;
}

.title {
  color: white;
  font-size: 7rem;
}

.icon:first {
  grid-column: 3/4;
}

.icon:last-of-type {
  grid-column: 1/2;
}

.desc__container {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}

.tech__container {
  display: flex;
  grid-column: 2/4;
  white-space: pre-wrap;
  bottom: 10px;
  right: 10px;
}

.close-btn {
  background-color: t.$light-secondary-color;
  border-radius: 50%;
  padding: 1rem;
  display: flex;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  & svg {
    width: 30px;
  }
}
