@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.search-container {
  border-radius: 30px;
  background: t.$light-secondary-color;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: width 0.5s;
}

.search {
  display: block;
  border: 0;
  outline: 0;
  background-color: transparent;
  width: inherit;
  height: inherit;
  font-weight: 700;
}

.search__form {
  display: flex;
  align-items: center;
  width: 31rem;
  height: inherit;
  animation: fade 0.5s;
  padding: 1rem;
}

.search-icon {
  color: rgba($color: t.$light-accent-color, $alpha: 0.7);
  transform: scale(1.8);
  margin: 0 1rem;
  animation: fade 0.5s;
}

.search-container.expanded {
  width: 31rem;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include mixins.whenDarkModule {
  .search-container {
    background: black;
  }

  .search-icon {
    color: t.$dark-accent-color;
  }

  .search {
    background-color: transparent;
  }
}
