@use "../../styles/abstracts/theme" as t;

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand {
  padding-top: 0.4rem;
}

.nav-left {
  display: flex;
  gap: 10px;
}

.nav-right {
  display: flex;
}

.nav-item {
  margin: 0 1rem;
  font-weight: 800;
  color: t.$light-secondary-bgcolor;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    background: t.$light-primary-color;
  }

  &.active {
    background: t.$light-primary-color;
  }
}

.nav-icon {
  color: t.$light-secondary-bgcolor;
}
