@use "../../styles/abstracts/theme" as t;

.search__container {
  display: flex;
  flex-direction: row;
  height: 700px;
  margin: 2rem;
}

.filter {
  padding: 2rem;
  background-color: t.$light-secondary-bgcolor;
  border-radius: 10px 0 0 10px;
  border-right: 2px solid t.$light-secondary-color;
  flex-grow: 2;
}

.filter-header {
  text-align: center;
}

.search {
  border-radius: 0 10px 10px 0;
  background-color: t.$light-secondary-bgcolor;
  overflow-y: scroll;
  padding: 4rem;
  flex-grow: 8;
}

.no-result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 800;
}
