@use "../../styles/abstracts/theme" as t;

.result__container {
  display: grid;
  gap: 10px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid t.$light-secondary-color;
  border-radius: 10px;
  padding: 3rem;
}

.user-data {
  display: flex;
  align-items: center;
}

.result-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.name__container {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.result-name {
  font-weight: 700;
  font-size: 2rem;
}

.profile-btn {
  justify-self: flex-end;
  width: 30px;
  height: 30px;
}

.btn-area {
  display: flex;
  gap: 10px;
}
